html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: "Open Sans Condensed", sans-serif, arial;
    font-size: 18pt;
    text-align: justify;
}

.container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 5fr;
    grid-template-areas: "header header"
        "nav nav"
        "main main"
        "aside aside"
        "footer footer";
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
}

header h1 {
    color: rgb(45, 85, 160);
}

.slogan {
    padding-left: 10px;
}

.logo img {
    max-width: 15vh;
    height: 12vh;
}

nav {
    grid-area: nav;
    background-color: rgb(45, 85, 160);
}

main {
    grid-area: main;
    margin: auto;
    padding: 10px;
}

aside {
    background-color: rgb(171, 196, 196);
    grid-area: aside;

}

footer {
    background-color: rgb(45, 85, 160);
    grid-area: footer;
    color: white;
}

#nav-menu-container {
    float: left;
    margin: 0;

}

.nav-menu li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;

}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    text-decoration: underline;
    background-color: rgb(34, 62, 112);
    padding: 2.1vh;
}

.aside-container li,
a {
    display: inline;
    text-decoration: none;
}

.content-home {
    margin: auto;
    padding: 10px;
}

.flex-container-1 {
    display: flex;
    background-color: rgb(45, 85, 160);
}

.flex-container-1>div {
    background-color: #f1f1f1;
    margin: 2px;
    padding: 90px;
    font-size: 15px;
    flex: 30%;
}

.flex-container-2 {
    display: flex;
    background-color: rgb(45, 85, 160);
}

.flex-container-2>div {
    background-color: #f1f1f1;
    margin: 2px;
    padding: 100px;
    font-size: 15px;
    flex: 30%;
}

@media screen and (max-width: 1000px) {
    main h1 {
        font-size: 1.1rem;
        text-align: center;
    }
    main h2 {

        font-size: 1rem;
    }

    main h3 {

        font-size: 0.8rem;
    }
    .slogan {
        font-size: 15pt;
    }
    .flex-container-1 {
        flex-direction: column;
    }

    .flex-container-1>div {
       
        flex: 1%;
    }

    .flex-container-2 {
        flex-direction: column;
    }

    footer {
        font-size: 15pt;
    }
    
}